section.canhcam-home-1
	.container
		.row
			.col-12
				.block-wrapper
					.info-wrapper
						h2 Công ty TNHH
							br
							| Thương mại và Dịch vụ
							| Liên Việt - VIC
						p VICCO là đơn vị phân phối chính thức độc quyền sản phẩm tấm ốp hợp kim nhôm nhựa Alcopanel - Aluminium Composite Panel từ Hàn Quốc. Chúng tôi luôn nỗ lực không ngừng nhằm mang đến cho khách hàng những giá trị cao về mặt kiến trúc trong xây dựng, thông qua những sản phẩm tốt nhất và dịch vụ chuyên nghiệp nhất.
						a(href="#").btn.btn-more xem thêm
					.banner-info-wrapper
						.banner(bg-img='./img/home/home_bg_1.png')
						.spec-info
							figure
								img(src='./img/home/home_icon_1.png', alt='')
								figcaption
									h4 Thương hiệu số 1 tại Hàn Quốc
							figure
								img(src='./img/home/home_icon_2.png', alt='')
								figcaption
									h4 Sản phẩm có mặt tại 40+ quốc gia
							figure
								img(src='./img/home/home_icon_3.png', alt='')
								figcaption
									h4 Alcopanel F/R - Vật liệu chống cháy 
							figure
								img(src='./img/home/home_icon_4.png', alt='')
								figcaption
									h4 Bảo hành dài hạn
