section.canhcam-home-2(bg-img='./img/home/home_bg_2.png')
	.container
		.row
			.col-lg-5
				.full-content
					h4.head-title Sản phẩm
					p 
						|
						span Tấm hợp kim nhôm nhựa thương hiệu Alcopanel
						| Sản phẩm được chế tạo đa dạng cho thi công các công trình với khả năng cách điện - âm thanh tốt. Hợp chất Alcopanel có những thuộc tính đặc biệt, là thương hiệu tin dùng của các nhà đầu tư. 
					a(href="#").btn.btn-more xem thêm
			.col-lg-7
				figure
					img.img-fluid(src='./img/home/home_banner_2.png', alt='')
			