section.canhcam-product-2(bg-img='./img/home/home_bg_2.png')
	.container
		.row
			.col-lg-5.order-2.order-md-1
				.full-content
					h4.head-title Tấm hợp kim nhôm nhựa 
						br
						| thương hiệu Alcopanel
					p Sản phẩm được chế tạo đa dạng cho thi công các công trình với khả năng cách điện - âm thanh tốt. Hợp chất Alcopanel có những thuộc tính đặc biệt, là thương hiệu tin dùng của các nhà đầu tư. 
					a(href="#").btn.btn-more xem thêm
			.col-lg-7.order-1.order-md-2
				figure
					img.img-fluid(src='./img/03_product/product_item_1.png', alt='')
			