.othernews
	h2.head-title Tin tức khác
	.lists
		- for (var i = 0; i < 3 ; i++)
			a.item(href="#")
				figure
					.img
						img(src="./img/07_news_detail/news_detail_small_1.png", alt="alt")
					figcaption
						h3 Một số vật liệu cách nhiệt thông dụng
						time 
							em.mdi.mdi-calendar-text
								| 02/11/2018

