section.canhcam-service-1
	.container
		.row
			.col-12
				.wrapper
					.banner-info-wrapper
						.banner(bg-img='./img/05_service/service_banner_1.png')
					.content
						.spec-info
							h4.head-title dịch vụ tư vấn
							p 
								span Tấm hợp kim nhôm nhựa thương hiệu Alcopanel
								| Sản phẩm được chế tạo đa dạng cho thi công các công trình với khả năng cách điện - âm thanh tốt. Hợp chất Alcopanel có những thuộc tính đặc biệt, là thương hiệu tin dùng của các nhà đầu tư. 
							a(href="#").btn.btn-more xem thêm
				.wrapper
					.banner-info-wrapper
						.banner(bg-img='./img/05_service/service_banner_2.png')
					.content
						.spec-info
							h4.head-title Dịch vụ bảo hành
							p 
								span Tấm hợp kim nhôm nhựa thương hiệu Alcopanel
								| Sản phẩm được chế tạo đa dạng cho thi công các công trình với khả năng cách điện - âm thanh tốt. Hợp chất Alcopanel có những thuộc tính đặc biệt, là thương hiệu tin dùng của các nhà đầu tư. 
							a(href="#").btn.btn-more xem thêm
						#155899