section.canhcam-product-detail-1
	.container
		.row
			.col-lg-6
				.news-image
					.list-items-main
						.item
							img(src='./img/home/home_banner_1.png', alt='')
						.item
							img(src='./img/02_intro/intro_banner_1.png', alt='')
						.item
							img(src='./img/03_product/product_banner_1.png', alt='')
						.item
							img(src='./img/home/home_banner_1.png', alt='')
						.item
							img(src='./img/02_intro/intro_banner_1.png', alt='')
						.item
							img(src='./img/03_product/product_banner_1.png', alt='')
					.list-items-sub
						.item
							figure
								img(src='./img/03_product/product_item_5.png', alt='')
						.item
							figure
								img(src='./img/03_product/product_item_4.png', alt='')
						.item
							figure
								img(src='./img/03_product/product_item_5.png', alt='')
						.item
							figure
								img(src='./img/03_product/product_item_4.png', alt='')
						.item
							figure
								img(src='./img/03_product/product_item_5.png', alt='')
						.item
							figure
								img(src='./img/03_product/product_item_4.png', alt='')
			.col-lg-6
				.full-content
					h2.head-title Tấm ốp hợp kim nhôm nhựa 
						br
						| (Aluminium Composite Panel)
					.block
						p 
							strong Thành phần cấu tạo: 
							| Được tạo thành từ 2 thành phần chính là lõi nhựa và 2 lớp hợp kim nhôm cùng chất liệu bồi 2 mặt.

						p Được tạo thành từ 2 thành phần chính là lõi nhựa và 2 lớp hợp kim nhôm cùng chất liệu bồi 2 mặt của tấm ốp tùy thuộc vào tùng loại tấm sử dụng cho nội hay ngoại thất và cũng tùy vào từng nhãn hiệu tấm khác nhay mà độ dày mỏng khác nhau.

						p Đối với dong sản phẩm nhập khẩu bởi vì tiêu chuẩn chất lượng cao hơn nên lớp hợp kim nhôm thường có độ dày tối thiểu là 0.3 mm
					.block
						p 
							strong Chiều rộng: 
							| Có 2 nhóm khổ chiều rộng tiêu chuẩn.

						p 
							strong Nhóm 1: 
							| với các khổ chiều rộng: 1220mm, 1500mm, 2000mm.... 

						p Các khổ chiều rộng tiêu chuẩn này chủ yếu thuộc các nhà sản xuất của các nước như: Việt Nam, Trung Quốc, Đài Loan

						p
							strong Nhóm 2 
							| với các khổ chiều rộng: 1020mm, 1250mm, 1575mm, 1800mm...

						p Các khổ chiều rộng tiêu chuẩn này chủ yếu thuộc các nhà sản xuất của các nước như: Hàn Quốc, Anh Quốc, Nhật Bản, Đức.
					.block
						p 
							strong Chiều dài: 
							|Cả dòng nhập khẩu và dòng sản xuất trong nước đều có độ dài tiêu chuẩn là 2440mm.

						strong Ngoài ra do để giảm sự hao hụt trong quá trình thi công nên chiều dài tấm thường được đặt sản xuất theo yêu cầu








