section.canhcam-news-list-1
	.container
		.row
			.col
				h2.head-title tin tức
		.row
			.col
				ul.nav
					li.nav-item.active
						a.nav-link(href="#") tin tức -  sự kiện
					li.nav-item
						a.nav-link(href="#") video clips
					li.nav-item
						a.nav-link(href="#") Thư viện ẢNH
				