section.canhcam-recruitment-1
	.container
		.row
			.col
			.wrapper
				figure
					.img
						img(src='./img/08_recruitment/rec_1.png', alt='')
					figcaption
						.fullcontent
							h2 tuyển dụng
							p Liên Việt VIC mong muốn kết hợp sự thân thiện vốn có của người Việt Nam, tính chuyên nghiệp mang tầm quốc tế và Công nghệ cao để tạo nên nền tảng một ngân hàng hàng đầu tại Việt Nam. Tương lai nghề nghiệp vững chắc; các lãnh đạo nhiệt huyết và giàu kinh nghiệm; đồng nghiệp chia sẻ, cởi mở và thân thiện; môi trường làm việc hiện đại, chuyên nghiệp… là những điều Liên Việt VIC mong muốn mang đến cho toàn cán bộ nhân viên. Liên Việt VIC luôn chào đón các bạn ứng viên, những người muốn đến với chúng tôi bằng tài năng, trí tuệ, phẩm chất đạo đức và lòng say mê công việc. Đến với Liên Việt VIC, chúng tôi sẽ tạo cho bạn những cơ hội và thử thách để bạn tự khẳng định mình bằng chính tài năng của bạn.


