section.canhcam-recruitment-2
	.container
		.row
			.col
				h2 Vị trí tuyển dụng
		.row
			.col
				.table-responsive
					table.table
						thead
							tr
								th Vị trí tuyển dụng
								th số lượng
								th khu vực
								th ngày hết hạn
						tbody
							- for (var x = 0; x < 10; x++)
								tr
									td 
										a(href="#") Nhân Viên Văn Phòng
									td 2
									td Tp.Hồ Chí Minh
									td 26.07.2018