section.canhcam-product-detail-3
	.container
		.row
			.col
				h3.head-title sản phẩm liên quan
		.row
			- for ( var x = 0 ; x < 2; x++)
				.col-lg-4
					figure
						img.img-fluid(src='./img/03_product/product_item_2.png', alt='')
						figcaption
							h4 Tường cách nhiệt 
								br
								| thương hiệu Alcopanel
					
				