section.canhcam-slider-1
	article
		.list-items
			.item
				figure
					img.w-100(src='./img/home/home_slider_1.png', alt='')
					figcaption
						h1
							|
							span Alcopanel F/R
							| Giải pháp tối ưu cho phong cách kiến trúc hiện đại
			.item
				figure
					img.w-100(src='./img/home/home_slider_2.png', alt='')
					figcaption
						h1 Sự lựa chọn hoàn hảo của những công trình bậc nhất
			.item
				figure
					img.w-100(src='./img/home/home_slider_3.png', alt='')
					figcaption
						h1 Bền xây dựng - Vững tương lai