section.canhcam-project-1
	article
		h1.head-title Dự án
		.wrapper-img
			- for (var x = 0; x < 6; x++)
				.item
					figure
						img.img-fluid(src='./img/home/home_building_1.png', alt='')
						figcaption
							.detail
								h4 SCIENCE & TECHNOLOGY INSTITUTE, Shenzhen, China 
								.briefcontent
									p Vị trí: Hà Nội
									p Loại hình dự án: Khách sạn
									p Hạng mục cung cấp: Tấm phức hợp nhôm nhựa
									p Thời gian thực hiện: Từ tháng 11/2017
								.fullcontent
									p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
									p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
									p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
									p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
									
							btn.btn-more xem thêm

