section.canhcam-news-video-1
	.container
		.row
			- for ( var x = 0 ; x < 12 ; x ++)
				.col-xl-3.col-lg-4.col-md-6
					.wrapper-gallery
						.box-zoom
							a(href="http://www.youtube.com/embed/WAZ5SmJd1To?autoplay=1" data-fancybox)
								img(src="img/07_news_photo/news_photo_1.png", alt="")
							//- a(href="img/07_news_photo/news_photo_2.png")
							//- 	img(src="img/07_news_photo/news_photo_2.png", alt="")
							//- a(href="img/07_news_photo/news_photo_3.png")
							//- 	img(src="img/07_news_photo/news_photo_3.png", alt="")
							//- a(href="img/07_news_photo/news_photo_4.png")
							//- 	img(src="img/07_news_photo/news_photo_4.png", alt="")
							