<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>


  <templatelist xsltname="Vicco-DanhSachSanPham.xslt" name="Danh sách sản phẩm Vicco"></templatelist>
  <templatedetail xsltname="Vicco-ChiTietSanPham.xslt" name="Chi tiết sản phẩm Vicco"></templatedetail>

  <templatelist xsltname="Vicco-DanhSachDichVu.xslt" name="Danh sách dịch vụ Vicco"></templatelist>
  <templatedetail xsltname="Vicco-ChiTietDichVu.xslt" name="Chi tiết dịch vụ Vicco"></templatedetail>

  <templatelist xsltname="Vicco-HoTroKhachHang.xslt" name="Danh sách câu hỏi hỗ trợ Vicco"></templatelist>

  <templatelist xsltname="Vicco-DanhSachTinTuc.xslt" name="Danh sách tin tức Vicco"></templatelist>
  <templatedetail xsltname="Vicco-ChiTietTinTuc.xslt" name="Chi tiết tin tức Vicco"></templatedetail>

  <templatelist xsltname="Vicco-DanhSachVideo.xslt" name="Danh sách video Vicco"></templatelist>

  <templatelist xsltname="Vicco-DanhSachAnh.xslt" name="Danh sách ảnh Vicco"></templatelist>

  <templatelist xsltname="Vicco-ViTriTuyenDung.xslt" name="Danh sách vị trí tuyển dụng Vicco"></templatelist>
  <templatedetail xsltname="Vicco-ChiTietTuyenDUng.xslt" name="Chi tiết tuyển dụng Vicco"></templatedetail>

   <templatelist xsltname="Vicco-DanhSachDuAn.xslt" name="Danh sách dự án Vicco"></templatelist>


  <position>
    <!--<add name="Trang chủ" value="1" resourcefile="" />-->
    <add name="Trang chủ - Giới thiệu cột phải" value="1" resourcefile="" />
    <add name="Trang chủ - Dự án" value="2" resourcefile="" />
  </position>
</templates>