section.canhcam-recruitment-detail-1
	.container
		.row
			.col-lg-8
				.main-job
					h2 nhân viên bán hàng
					.block-req
						p Mô tả công việc
						ul
							li Giới thiệu hình ảnh và dịch vụ của Liên Việt VIC đến khách hàng.
							li Chịu trách nhiệm tìm kiếm khách hàng mới và phát triển doanh số cho công ty.
							li Duy trì tốt các mối quan hệ và chăm sóc tốt các khách hàng hiện tại.
							li Hoàn thành mục tiêu doanh số cam kết.
							li Thực hiện công việc theo sự điều động, phân công của cấp trên.
					.block-req
						p Yêu cầu công việc
						ul
							li Tốt nghiệp cao đẳng, đại học trở lên chuyên ngành liên quan.
							li Có ít nhất 2 năm kinh nghiệm sales trong lĩnh vực vật liệu xây dựng hoặc các ngành liên quan.
							li Kỹ năng giao tiếp, thương lượng, chăm sóc khách hàng tốt.
							li Yêu thích công việc kinh doanh.
							li Có kỹ năng phân tích và nắm bắt nhanh nhạy sự thay đổi của thị trường.
							li Thành thạo các kỹ năng vi tính văn phòng.


					.block-req
						p Quyền lợi
						ul
							li Một mức lương cạnh tranh xứng đáng với khả năng của mình
							li Một môi trường làm việc vui vẻ, thoải mái với những đồng nghiệp vui tính, đáng mến và RẤT CÁ TÍNH.
							li Được hưởng đầy đủ chế độ đãi ngộ theo luật định.
						p ĐĂNG KÍ ỨNG TUYỂN
					.note
						p Vui lòng trực tiếp gửi CV kèm portfolio theo thông tin liên hệ về Email: 
							span lienviet@vicco.vn
						p Hạn nộp hồ sơ: đến hết ngày 30.12.2018
					a(href="#").btn.btn-submit Nộp hồ sơ
			.col-lg-4
					.other-job
						h2 Các vị trí khác
						- for ( var x = 0 ; x < 5 ; x ++)
							p Nhân Viên Văn  Phòng
							time 26.11.2018 
								span Thành phố Hồ Chí Minh

