section.canhcam-news-list-2
	.container
		.row
			- for (var x = 0; x < 4; x ++)
				.col-xl-3.col-lg-4.col-sm-6
					.item
						figure
							a(href="#")
								.box-zoom
									img.img-fluid(src='./img/07_news_list/news_list_1.png', alt='')
							figcaption
								h4 Một số vật liệu cách nhiệt thông dụng
								p Nhiệt độ trung bình của nước ta khá cao, trong khoảng 22 – 27 độ C. Tuy nhiên vào cao điểm mùa nắng nóng, nhiệt độ có thể lến đến 39 độ C ở các tỉnh phía Bắc. 
								.show-more
									time 
										em.mdi.mdi-calendar-text
										|02/11/2018
									a(href="#")
										em.mdi.mdi-arrow-right
				.col-xl-3.col-lg-4.col-sm-6
					.item
						figure
							a(href="#")
								.box-zoom
									img.img-fluid(src='./img/04_project/project_1.png', alt='')
							figcaption
								h4 Một số vật liệu cách nhiệt thông dụng
								p Nhiệt độ
								.show-more
									time 
										em.mdi.mdi-calendar-text
										|02/11/2018
									a(href="#")
										em.mdi.mdi-arrow-right
