section.canhcam-contact-2
	article#form-map-1
		.container
			.row
				.col-12
					//- a.btn.btn-primary
					//- 	i.fa.fa-map-marker-alt.mr-2
					//- 	| View map
					.collapse.d-block
						.card
							iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.7853713842974!2d105.8175534!3d21.0012389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac852d847093%3A0x15431e84b98305be!2zNzIgTmd1eeG7hW4gVHLDo2ksIE5nw6MgVMawIFPhu58sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1422267118040" frameborder="0" style="border: 0px;")
	