footer.canhcam-footer-1(bg-img='./img/global/footer_bg.png')
	.container
		.row
			.col-12
				.social-wrapper
					a(href="#")
						em.fab.fa-youtube
					a(href="#")
						em.fab.fa-twitter
					a(href="#")
						em.fab.fa-facebook-f
					a(href="#")
						em.fab.fa-instagram
			.col-12
				.info-wrapper
					h3 Công ty TNHH Thương mại và Dịch vụ Liên Việt - VIC
					p Số 8-10, Bàu Cát, Phường 14, Quận Tân Bình, Tp Hồ Chí Minh
					p 
						|
						span Điện thoại: 
						| 028 3860 8969  -  Fax: 028 3860 8339  -  Email: p lienviet@vicco.vn
					a(href="#")
						p www.vicco.vn
			.col-12
				.copyright
					h4 © 2018 Công ty TNHH Thương mại và Dịch vụ Liên Việt - VIC. Tất cả các quyền được bảo hộ. Thiết kế bởi Cánh Cam.