section.canhcam-service-detail-1
	.container
		.row
			.col-lg-9
				.main-news
					h1.head-title Dịch vụ tư vấn
					p Trong những năm gần đây, trên khắp các công trình kiến trúc hiện đại có xuất hiện 1 loại vật liệu xây dựng mới dùng trong việc ốp bề mặt công trình thay cho trát vữa và sơn bả truyền thống, chính nó đã mang lại những vẻ đẹp hoàn mỹ cho công trình. Vật liệu này chính là tấm ốp nhôm nhựa phức hợp (ACP). Vậy ACP là giải pháp xây dựng tối ưu hay chỉ là xu thế thẩm mỹ? Nó cấu tạo thế nào? Thi công ra sao? Ưu nhược điểm của nó là gì?… Bài viết này sẽ giúp chúng ta hiểu rõ.
					img.img-fluid(src='./img/04_service_detail/service_detail_1.png', alt='')

					strong ACP Là gì?

					p ACP (Aluminium composite panel) là loại vật liệu xây dựng dạng tấm phẳng nhưng có thể uốn cong, cắt và đột lỗ dễ dàng. Cấu tạo của ACP gồm 7 lớp: ngoài cùng là lớp phim bảo vệ, sau đó là lớp sơn màu, lớp nhôm mặt, lớp keo, lõi nhựa, keo, và lớp nhôm đáy.

					strong Ứng dụng của ACP

					p Được sử dụng rộng rãi để ốp bề mặt bên ngoài công trình xây dựng như các tòa nhà cao tầng, các tòa nhà văn phòng, trung tâm thương mại, nhà ga, nhà xe, bảng biển quảng cáo tạo dáng kiến trúc hiện đại cho công trình.

					p Bên cạnh đó, ACP cũng được sử dụng để ốp bên trong công trình, hay dùng làm các giá kệ trưng bày sản phẩm, làm trần, vách ngăn, làm vật liệu nội thất thay cho gỗ fooc…

					strong Phân loại ACP

					p Tùy theo mục đích sử dụng mà ACP có thể được chia làm 2 loại là:
					p – Tấm ACP dùng ngoài trời – sử dụng lớp sơn PVDF
					p – Tấm ACP dùng trong nhà – sử dụng lớp sơn PET
			.col-lg-3
				.other-news(data-fix="80", data-fix-type="initial", data-fix-change="sticky")
					h2.head-title Dịch vụ khác
					figure
						.img
							img.img-fluid(src='./img/04_service_detail/service_detail_other_service.png', alt='')
						figcaption
							h3 Dịch vụ bảo hành


		