section.canhcam-news-details-1(bg-img='./img/_global/bg_1.png')
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						h2.head-title Chiêu thiết kế cực tiện nghi cho căn hộ siêu nhỏ
						time 
							em.mdi.mdi-calendar-text
								| 02/11/2018
						strong.briefcontent Với những căn hộ có diện tích cực khiêm tốn, việc kết hợp phòng khách - phòng ăn - phòng bếp để tạo ra một không gian đa chức năng là ý tưởng tuyệt hay. Cách tích hợp này không chỉ giúp gia chủ tiết kiệm được kha khá diện tích mà còn có thể đánh lừa thị giác về diện tích thực của căn hộ.
						.fullcontent
							strong Xóa bỏ những vách ngăn để tạo không gian mở
							p Khi thiết kế cho những căn hộ nhỏ, việc sử dụng vách ngăn không còn là điều mới lạ. Các loại vách ngăn có chức năng gần như một bức tường giúp phân chia, làm mới và đẹp không gian, tạo môi trường tách biệt nhưng không gây bí bách. 
							a.item-news-read
								figure
									img.img-fluid(src="./img/07_news_detail/news_detail_1.png", alt="")
							p Tuy nhiên, khi đã quyết định kết hợp phòng khách - phòng ăn – phòng bếp thành một không gian chung, các gia chủ nên xóa bỏ hoàn toàn các vách ngăn. Điều này sẽ giúp không gian nhà bạn trông rộng rãi và thoáng đãng hơn nhiều lần.
							strong Sử dụng đèn chiếu sáng cho từng không gian
							p Khi không còn các vách ngăn, làm thế nào để giữ được nét trang nhã của phòng khách và cảm giác ấm cúng cần có của phòng ăn và phòng bếp? Gợi ý hay cho bạn là sử dụng đèn chiếu sáng khác nhau để xác định từng khu vực chức năng riêng.

							a.item-news-read
								figure
									img.img-fluid(src="./img/07_news_detail/news_detail_2.png", alt="")
							p Tại phòng khách, bạn có thể treo hệ thống đèn chùm đẹp mắt hoặc đèn có ánh sáng trắng tạo cảm giác sáng sủa, rộng rãi. Tại khu vực ăn uống, bạn chỉ cần lắp đặt những ngọn đèn nhỏ hoặc đèn có ánh sáng màu vàng vừa đủ để có thể chiếu sáng tập trung vào bàn ăn, vừa tạo cảm giác ấm cúng. Còn với không gian bếp, nên sử dụng đèn chiếu sáng đơn giản để ánh sáng tập trung trên bếp nấu và khu vực trần nhà.
							strong Đồng bộ về phong cách nội thất
							p Để tạo được sự hài hòa, thống nhất và ấn tượng cho cả không gian, bạn nên lựa chọn đồ nội thất có sự đồng bộ, tương quan nhất định về màu sắc, chất liệu. Cách này sẽ không tạo cảm giác không gian bị chia nhỏ, vụn hoặc trông lệch tông.
							a.item-news-read
								figure
									img.img-fluid(src="./img/07_news_detail/news_detail_3.png", alt="")

							p Hãy thử tưởng tượng một bộ sofa hiện đại kết hợp với một bộ bàn ăn gỗ phong cách cổ điển trong cùng một không gian trông sẽ lủng củng, rời rạc thế nào? Do vậy, khi lựa chọn đồ đạc, bạn nên sử dụng cùng một kiểu phong cách, tránh sự đánh nhau giữa nội thất cổ điển và hiện đại, nội thất Châu Á và nội thất Châu Âu.

							p Để đảm bảo tính liên kết cho không gian, bạn có thể sử dụng các loại đồ trang trí cùng chất liệu, cùng kiểu dáng hoặc màu sắc tại khu bếp hay khu tiếp khách. Ví dụ, bạn chọn bình hoa trang trí màu xanh lá cây cho bàn ăn, bạn có thể dùng gối ôm cùng tông màu cho sofa. Cách trang trí này giúp không gian của bạn tuy có 3 chức năng riêng biệt nhưng vẫn là một không gian sống duy nhất, hài hòa.

							p Đặc biệt, với không gian “3 trong 1”, bạn không nên kê quá nhiều đồ đạc tránh việc bị rối mắt và lộn xộn. Thiết kế tối giản luôn là lựa chọn hàng đầu cho không gian phòng khách – phòng ăn - phòng bếp thông nhau.
						include ../../social/s-1/index.pug

				.col-lg-4
					include ../../sub-news/sn-1/index.pug
				