header.canhcam-header-1
	.container.menu-bar
		.logo
			img(src="./img/global/logo.png", alt="")
		.mainnav
			.nav-top.ml-auto
				.hotline
					a.nav-link(href='#') 
						figure
							img(src="./img/global/hotline_icon.png", alt="")
							figcaption
								h4 Hotline   
									span 0918 222 789
				btn.btn-primary open
				ul.nav.social
					li.nav-item
						a(href="#").nav-link 
							span.fab.fa-facebook-f
					li.nav-item
						a(href="#").nav-link 
							span.fab.fa-twitter
					li.nav-item
						a(href="#").nav-link 
							span.fab.fa-linkedin-in
					li.nav-item
						a(href="#").nav-link 
							span.fab.fa-google-plus-g
					li.nav-item
						a(href="#").nav-link 
							span.fab.fa-youtube
				//- .language
				//- 	a(href="#").nav-link 
				//- 		|
				//- 		span.material-icons language
				//- 		| EN
				.language
					.dropdown
						a#dropdownMenuLink.dropdown-toggle(href='javascript:void(0)', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							| VN
						.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
							a.dropdown-item.active.ml-0(href='javascript:void(0)').text-center.text-capitalize VN
							a.dropdown-item.ml-0(href='javascript:void(0)').text-center.text-capitalize EN
			.nav-bottom.ml-auto
				ul.nav.zonelist
					li.nav-item
						a(href="#").nav-link.active Giới thiệu
					li.nav-item
						a(href="#").nav-link Sản phẩm
					li.nav-item
						a(href="#").nav-link Dịch vụ
					li.nav-item
						a(href="#").nav-link Dự án
					li.nav-item
						a(href="#").nav-link Hỗ trợ khách hàng
					li.nav-item
						a(href="#").nav-link Tin tức
					li.nav-item
						a(href="#").nav-link Tuyển dụng
					li.nav-item
						a(href="#").nav-link Liên hệ


				a.search 
					i.material-icons search
				.searchbox
					input.searchinput(type='text' placeholder='Search')
					button.searchbutton(type='submit')
						i.fa.fa-search

section.sidemenu
section.sidemenu-backdrop



		//- .row
		//- 	.col
		//- 		img(src="./img/global/logo.png", alt="")