extends _layout/_layout.pug

block var
	- title = 'Demo - Index'
	- bodyClass = 'index-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/slider/s-1/index.pug
	include ../lib/home/h-1/index.pug
	include ../lib/home/h-2/index.pug
	include ../lib/home/h-3/index.pug
	include ../lib/home/h-4/index.pug
block footer
	include ../lib/footer/f-1/index.pug