extends _layout/_layout.pug

block var
	- title = 'Demo - Index'
	- bodyClass = 'index-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/index/i-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug