extends _layout/_layout.pug

block var
	- title = 'Demo - Index'
	- bodyClass = 'index-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/intro/i-1/index.pug
	include ../lib/intro/i-2/index.pug
	include ../lib/intro/i-3/index.pug
	//- include ../lib/intro/i-4/index.pug
block footer
	include ../lib/footer/f-1/index.pug