extends _layout/_layout.pug

block var
	- title = 'Product Detail'
	- bodyClass = 'product-detail-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/product-detail/pd-1/index.pug
	include ../lib/product-detail/pd-2/index.pug
	include ../lib/product-detail/pd-3/index.pug
block footer
	include ../lib/footer/f-1/index.pug