extends _layout/_layout.pug

block var
	- title = 'Product'
	- bodyClass = 'product-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/product/p-1/index.pug
	include ../lib/home/h-2/index-product.pug
	include ../lib/home/h-2/index-product.pug
	//- include ../lib/product/p-3/index.pug
block footer
	include ../lib/footer/f-1/index.pug