extends _layout/_layout.pug

block var
	- title = 'project'
	- bodyClass = 'project-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/project/p-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug