section.canhcam-support-cus-1
	.container
		.row
			.col
				h2.head-title hỗ trợ khách hàng
		.row
			.col-md-8.mx-auto
				.canhcam-kl-1
					.content
						- for(i=0;i<10;i++)
							.item
								.name
									h2 Ưu điểm trong thi công của ACP ?
								.introduce
									p Giảm tổng chi phí xây dựng: Mặc dù giá thi công hoàn thiện ACP là khá cao nhưng với tính năng cách nhiệt thì khi sử dụng ACP có thể bỏ qua những vật liệu cách nhiệt truyền thống trong công trình. Mặt khác, vì được ốp trực tiếp nên tổng chi phí có thể khấu trừ cho việc trát vữa, sơn…(Theo ông Bùi Trọng Dũng- TGĐ công ty CP Nhôm Việt Dũng- người tiên phong trong việc đưa ACP vào thị trường Việt Nam với thương hiệu ALCOREST).

									p Cách nhiệt tốt cũng dẫn đến việc tiêu thụ ít năng lượng dùng trong hệ thống làm mát, điều này là hữu ích cho chủ sở hữu.

									p Xây dựng nhanh: Ưu điểm này vô cùng quan trọng, đặc biệt là trong thời điểm nhân công đắt đỏ, thời gian thực sự là tiền bạc, xây dựng nhanh sẽ mang lại lợi nhuận tối đa cho các nhà thầu xây dựng.