section.canhcam-home-4(bg-img='./img/home/home_bg_3.png')
	.container
		.row
			.col
				h4.head-title tin tức - sự kiện
		.row
			.col
				.owl-carousel.owl-theme.wrapper-img
					- for (var x = 0; x < 10; x ++)
						.item
							a(href="#")
								figure
									.box-zoom
										img.img-fluid(src='./img/home/home_news_1.png', alt='')
									figcaption
										h4 Một số vật liệu cách nhiệt thông dụng
										p Nhiệt độ trung bình của nước ta khá cao, trong khoảng 22 – 27 độ C. Tuy nhiên vào cao điểm mùa nắng nóng, nhiệt độ có thể lến đến 39 độ C ở các tỉnh phía Bắc. 
										
										time 
											em.lnr.lnr-calendar-full
											|02/11/2018
						.item
							a(href="#")
								figure
									.box-zoom
										img.img-fluid(src='./img/home/home_news_1.png', alt='')
									figcaption
										h4 Một số vật liệu cách nhiệt thông dụng
										p Nhiệt độ trung bình của nước ta khá cao, trong  
										
										time 
											em.lnr.lnr-calendar-full
											|02/11/2018

						
						