section.canhcam-home-4(bg-img='./img/home/home_bg_3.png')
	.container
		.row
			.col
				h4.head-title tin tức - sự kiện
		.row
			.col
				.owl-carousel.owl-theme.wrapper-img
					- for (var x = 0; x < 10; x ++)
						.item
							figure
								a(href="#")
									.box-zoom
										img.img-fluid(src='./img/07_news_list/news_list_1.png', alt='')
								figcaption
									h4 Một số vật liệu cách nhiệt thông dụng
									p Nhiệt độ trung bình của nước ta khá cao, trong khoảng 22 – 27 độ C. Tuy nhiên vào cao điểm mùa nắng nóng, nhiệt độ có thể lến đến 39 độ C ở các tỉnh phía Bắc. 
									.show-more
										time 
											em.mdi.mdi-calendar-text
											|02/11/2018
										a(href="#")
											em.mdi.mdi-arrow-right
						.item
							figure
								a(href="#")
									.box-zoom
										img.img-fluid(src='./img/07_news_list/news_list_1.png', alt='')
								figcaption
									h4 Một số vật liệu cách nhiệt thông dụng
									p Nhiệt độ trun 
									.show-more
										time 
											em.mdi.mdi-calendar-text
											|02/11/2018
										a(href="#")
											em.mdi.mdi-arrow-right

						