section.canhcam-intro-3
	.container
		.row
			.col-12
				.wrapper
					.banner-info-wrapper
						.banner(bg-img='./img/02_intro/intro_banner_3.png')
					.content
						.banner(bg-img='./img/02_intro/intro_bg_1.png')
						.spec-info
							h4.head-title tầm nhìn
							p Là một đơn vị phân phối chính thức các sản phẩm tấm ốp hợp kim nhôm nhựa Alcopanel - Alunium Conposite Panal (Korean) tại thị trường Việt Nam, chúng tôi mang đến cho các bạn những sản phẩm tốt nhất, đạt tiêu chuẩn chất lượng uy tín hàng đầu thế giới
				.wrapper
					.banner-info-wrapper
						.banner(bg-img='./img/02_intro/intro_banner_4.png')
					.content
						.banner(bg-img='./img/02_intro/intro_bg_1.png')
						.spec-info
							h4.head-title Sứ mệnh
							p Liên Việt - VIC cam kết sẽ luôn nỗ lực không ngừng nhằm liên kết để mang đến cho Quý khách hàng những sản phẩm tốt nhất với giá thành cạnh tranh nhất và phong cách phục vụ chuyên nghiệp.
				.wrapper
					.banner-info-wrapper
						.banner(bg-img='./img/02_intro/intro_banner_5.png')
					.content
						.banner(bg-img='./img/02_intro/intro_bg_1.png')
						.spec-info
							h4.head-title Triết lý kinh doanh
							p 
								span Chất lượng: 
								| Luôn đặt  chất lượng lên hàng đầu chúng tôi mang đến cho quý khách hàng sự tường tận về sản phẩm, giúp quý khách có lựa chọn chính xác nhất.
							p 
								span Chuyên nghiệp: 
								| Xây dựng đội ngũ nhân viên với chyên môn cao, phong cách phục vụ chuyên ngiệp, tận tâm, mang đến sự hài lòng nhất cho khách hàng.