section.canhcam-product-detail-2
	.container
		.row
			.col
				ul#myTab.nav.nav-tabs(role="tablist" )

					li.nav-item
						a.nav-link.active(data-toggle="tab" href="#tab-1" ) Thông số kỹ thuật
					li.nav-item
						a.nav-link(data-toggle="tab" href="#tab-2" ) Bộ chứng chỉ chất lượng
					li.nav-item
						a.nav-link(data-toggle="tab" href="#tab-3" ) catalogue/bảng màu
					li.nav-item
						a.nav-link(data-toggle="tab" href="#tab-4" ) DOWNLOAD

section.canhcam-product-detail-3
	.container
		.row
			.col
				#myTabContent.tab-content
					#tab-1.tab-pane.fade.show.active
						.detail
							p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
							p Nhóm màu vân gỗ, nhóm màu vân đá, nhóm màu phủ bóng cao và tạo hoa trang trí ...
							img(src='./img/03_product/product_banner_1.png', alt='')
							.block-more
								p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
								p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
								p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
								p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
							a(href="javascript:void(0)").btn.btn-more xem thêm

					#tab-2.tab-pane.fade
						.detail
							p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
							p Nhóm màu vân gỗ, nhóm màu vân đá, nhóm màu phủ bóng cao và tạo hoa trang trí ...
							img(src='./img/03_product/product_banner_1.png', alt='')


					#tab-3.tab-pane.fade
						.detail
							p Cả dòng tấm nhập khẩu và tấm sản xuất trong nước đều khá đa dạng về màu sắc, có khoảng cách trên dưới 30 màu tiêu chuẩn và tùy thuộc vào từng hãng sản xuất sẽ có thêm sự lựa chọn về các màu như: 
							p Nhóm màu vân gỗ, nhóm màu vân đá, nhóm màu phủ bóng cao và tạo hoa trang trí ...
							img(src='./img/03_product/product_banner_1.png', alt='')



					#tab-4.tab-pane.fade
						.detail
							a(href="#") tải file
							p Nhóm màu vân gỗ, nhóm màu vân đá, nhóm màu phủ bóng cao và tạo hoa trang trí ...
							img(src='./img/03_product/product_banner_1.png', alt='')



