section.canhcam-home-3
	article
		.owl-carousel.owl-theme.wrapper-img
			.item
				figure
					img.img-fluid(src='./img/home/home_building_1.png', alt='')
					figcaption
						h4 SCIENCE & TECHNOLOGY INSTITUTE, Shenzhen, China 
						a(href="#").btn.btn-more xem thêm
			.item
				figure
					img.img-fluid(src='./img/home/home_building_1.png', alt='')
					figcaption
						h4 SCIENCE & TECHNOLOGY INSTITUTE, Shenzhen, China 
						a(href="#").btn.btn-more xem thêm
			.item
				figure
					img.img-fluid(src='./img/home/home_building_1.png', alt='')
					figcaption
						h4 SCIENCE & TECHNOLOGY INSTITUTE, Shenzhen, China 
						a(href="#").btn.btn-more xem thêm
			.item
				figure
					img.img-fluid(src='./img/home/home_building_1.png', alt='')
					figcaption
						h4 SCIENCE & TECHNOLOGY INSTITUTE, Shenzhen, China 
						a(href="#").btn.btn-more xem thêm
			.item
				figure
					img.img-fluid(src='./img/home/home_building_1.png', alt='')
					figcaption
						h4 SCIENCE & TECHNOLOGY INSTITUTE, Shenzhen, China 
						a(href="#").btn.btn-more xem thêm
